.container {
  width: 83.33vw;
  height: 66.56vh;
  margin: 3.6vh auto;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
}

.search {
  width: 83.33vw;
  height: 7.8125vh;
  border-bottom: 3px solid #01FF48;
  display: flex;
  align-items: center;
}

.search-icon {
  width: 13.89vw;
  height: 13.89vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #FFF;
  background-color: #000;
}

.search input{
  width: 69.44vw;
  height: 13.89vw;
  border: 0;
  font-size: 1.1rem;
  background-color: #000;
  color: #FFF;
  display: flex;

}

.search input:focus {
  outline: none;
}

::placeholder {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 100;
  color: #FFF;
}

.track-list {
  width: 83.33vw;
  height: 51.25vh;
  background-color: #fff;
}
