.icon-1 {
  position: absolute;
  font-size: .5rem;
  color: greenyellow;
  z-index: -1;
}

.icon-2 {
  position: absolute;
  font-size: .5rem;
  color: red;
  z-index: -1;
}

.icon-3 {
  position: absolute;
  font-size: .5rem;
  color: yellow;
  z-index: -1;
}
