.container {
  width: 83.33vw;
  height: 66.56vh;
  margin: 3.6vh auto;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
}

.title {
  width: 83.33vw;
  height: 7.8125vh;
  font-size: 1.375rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #fff;
}

.track-list {
  width: 83.33vw;
  height: 51.25vh;
  background-color: #fff;
}

.buttons {
  width: 83.33vw;
  height: 6.25vh;
  margin-top: 1.56vh;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 40.27vw;
  height: 6.25vh;
  background-color: rgba(217, 217, 217, 0.5);
  color: #F5F3F4;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #01FF48;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
