<div class="container">
  <div class="title">Sign Up</div>
  <div class="line"></div>
  <form>
    <input type="text" class="name" placeholder="name">
    <input type="text" class="username" placeholder="username">
    <input type="text" class="email" placeholder="email">
    <input type="password" class="password" placeholder="password">
    <div class="register mat-elevation-z4"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleColor]="color"
     [matRippleRadius]="radius"
     [routerLink]="['/login']">
     Register
    </div>
  </form>

</div>
