.container {
  width: 83.33vw;
  height: 55.47vh;
  margin: 3.6vh auto;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, .25);
  border-radius: 5px;
}

form {
  margin: 0 auto;
  width: 57vw;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  margin: 2.81vh auto;
}

.line {
  width: 57vw;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(217, 217, 217, .3);
}


.name {
  width: 57vw;
  height: 8.85vw;
  margin-top: 2.5vh;
  margin-left: auto;
  margin-right: auto;
}

.username {
  width: 57vw;
  height: 8.85vw;
  margin-top: 1.5vh;
  margin-left: auto;
  margin-right: auto;
}

.email {
  margin-top: 1.5vh;
  margin-left: auto;
  margin-right: auto;
  width: 57vw;
  height: 8.85vw;
}

.password {
  margin: 1.5vh auto;
  width: 57vw;
  height: 8.85vw;
}

.register {
  margin-top: 2.1875vh;
  margin-left: auto;
  margin-right: auto;
  width: 57vw;
  height: 7vh;
  background-color: rgba(217, 217, 217, .5);
  border: 1px solid #01FF48;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}

input {
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: .8rem;
  background-color: transparent;
  border-bottom: 1px solid #01FF48;
}

input:focus {
  outline: none;
}
