<div class="logo"><img src="assets/Logo.png" alt="" srcset=""></div>
<div class="perfil">Meu Perfil</div>
<fa-icon [icon]="faRight" class="logout white"></fa-icon>
<div class="container">
  <div class="track-image">
    <div class="image"><img src="{{track.image}}" alt="" srcset=""></div>
  </div>
  <div class="track-info">
    <div class="track">
      <div class="track-name">{{ track.name }}</div>
      <div class="track-singer">{{ track.artists }}</div>
    </div>
    <div class="play">
      <a href="{{track.link}}" target="_blank">
        <fa-icon [icon]="faPlay" class="white"></fa-icon>
      </a>
    </div>
  </div>
</div>
