.container {
  border: 2px solid #003566;
  color: #fff;
  width: 77vw;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  border-radius: .3rem;
  padding: .3rem;
}

.track-info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track-name {
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  height: 1rem;
  color: #ffc300;
}

.track-singer {
  font-size: 0.8rem;
  font-weight: 400;
  width: 100%;
  height: 1rem;
  color: #fff;
}

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.user {
  font-size: 0.8rem;
  font-weight: 300;
  height: 1rem;
}

.city {
  font-size: 0.7rem;
  font-weight: 300;
  height: 1rem;
}


